@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.h2 {
		@apply text-4xl tracking-tighter sm:text-5xl md:text-6xl lg:text-7xl 2xl:text-8xl font-bold;
	}

	.h3 {
		@apply font-bold text-[42px] md:text-5xl xl:text-6xl 2xl:text-[80px];
	}

	.subtext {
		@apply mt-5 md:mt-7 lg:mt-12 font-semibold text-2xl md:text-3xl lg:text-4xl xl:text-5xl tracking-tighter;
	}

	.bg-container {
		@apply bg-main rounded-3xl lg:rounded-[4rem] mt-1;
	}

	.rounded-container {
		@apply m-auto px-4;
	}

	.section {
		@apply py-10 sm:py-12 md:py-16 lg:py-20 xl:py-24 2xl:py-32;
	}

	.mainscreen-cards {
		@apply w-[95%] sm:w-[70%] md:w-[60%] lg:w-[30%] flex flex-col bg-white bg-opacity-[0.08] rounded-3xl p-8 xl:p-7 lg:p-6 md:p-5 sm:p-4 border border-white border-opacity-5 shadow-cards;
	}

	.metrics-h4 {
		@apply font-bold text-4xl md:text-[42px] lg:text-5xl xl:text-5xl 2xl:text-6xl text-center tracking-tighter;
	}

	.metrics-card {
		@apply flex flex-col justify-between sm:w-[50%] md:w-[310px] lg:w-[400px] xl:w-[480px] h-32 md:h-[160px] lg:h-44 xl:h-[206px] p-4 lg:p-8  bg-white bg-opacity-5 border border-white border-opacity-5 shadow-metricsCard backdrop-blur-lg rounded-[32px];
	}

	.stake-total-item {
		@apply mt-8 md:mt-16 flex items-center gap-4 md:gap-12 text-left;
	}

	.h3-stake {
		@apply font-bold text-[32px] sm:text-5xl xl:text-6xl 2xl:text-[80px];
	}

	.stake-total-subtext {
		@apply mt-1 md:mt-3 font-medium text-lg md:text-2xl lg:text-3xl tracking-tighter opacity-40 text-left;
	}

	.stake-icon {
		@apply w-[22%] sm:w-unset p-4 md:p-7 rounded-full bg-opacity-20;
	}

	.utility-payout-bars {
		@apply flex justify-center pb-2 sm:pb-4 px-3 sm:px-6 w-[20%] sm:w-[90px] h-[80%] sm:h-[260px] rounded-xl sm:rounded-3xl border-white border-2 border-opacity-5;
	}
}

@layer components {
	html {
		font-family: 'inter';
	}

	/* H1 */
	h1,
	h2 {
		text-shadow: 0px 32px 64px rgba(255, 255, 255, 0.08);
	}
	#h1 span {
		text-shadow: 0px 16px 64px rgba(78, 185, 255, 0.16);
	}
	/* H1 END */

	/* TOP GRADIENT LINE */
	.top-hr {
		background: linear-gradient(
			-45deg,
			#43a1f7,
			#8643dc,
			#f743af,
			#f78070,
			#be40ff,
			#20bcff,
			#00f69e
		);
		height: 2px;
		animation: gradient 10s linear infinite;
		background-size: 500% 500%;
		border-top: 0;
	}
	@keyframes gradient {
		0% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		}
	}
	/* TOP GRADIENT LINE END */

	/* BURGER ANIMATION */
	.burger1 {
		transition: all 0.7s, font-size 0s;
		transition-timing-function: cubic-bezier(0.68, -0.35, 0.265, 1.35);
	}

	.burger1 > div {
		transition: all 0.1s 0.3s, font-size 0s;
	}
	.burger1 > div::before,
	.burger1 > div::after {
		transition: all 0.3s 0.2s, font-size 0s;
	}
	.burger1.toggled {
		transform: rotate(180deg);
	}
	.burger1.toggled > div::before {
		transform: rotate(45deg) translate(0.5em, 0em);
	}
	.burger1.toggled > div {
		background: transparent;
	}
	.burger1.toggled > div::after {
		transform: rotate(-45deg) translate(0.5em, 0em);
	}

	/* BURGER ANIMATION END */

	/* CARDS GRADIENT */
	.cards-gradient {
		background: linear-gradient(
			90deg,
			#577cff,
			#4cbfff,
			#20bcff,
			#8643dc,
			#577cff
		);
		animation: gradient 10s linear infinite;
		background-size: 1000% 1000%;
	}
	/* CARDS GRADIENT END */

	/* METRICS SECTION */
	.gradient-cloud-metric {
		background: radial-gradient(
			149.83% 57218.98% at 92.97% 0%,
			#43a1f7 0%,
			#00f79e 100%
		);
	}
	/* METRICS SECTION END */

	/* STAKE SECTION */
	.stake-apy-gradient {
		background: linear-gradient(267.57deg, #fb4a4a 0%, #9b4cff 100%);
		animation: gradient 6s linear infinite;
		background-size: 500% 500%;
	}

	.gradient-cloud-stake {
		background: radial-gradient(
			32.51% 32.51% at 50% 50%,
			rgba(255, 108, 223, 0.24) 0%,
			rgba(255, 108, 188, 0) 100%
		);
	}
	/* STAKE SECTION END */

	/* UTILITY SECTION */

	.yellow-bar {
		background: linear-gradient(43.67deg, #ffc657 24.69%, #ffd977 75.86%);
		box-shadow: 0px 16px 80px -12px rgba(255, 215, 115, 0.24);
	}

	/* UTILITY SECTION END */

	/* SUPPORT SECTION */
	.gradient-cloud-support {
		background: linear-gradient(90.07deg, #ba62ff 18.51%, #57b1f2 80.43%);
		filter: blur(150px);
	}
	/* SUPPORT SECTION END */
}
